:root{
  background-attachment: fixed;
}

html{
  background: rgb(12,217,45);
  background: -moz-linear-gradient(0deg, rgba(12,217,45,1) 0%, rgba(0,105,14,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(12,217,45,1) 0%, rgba(0,105,14,1) 100%);
  background: linear-gradient(0deg, rgba(12,217,45,1) 0%, rgba(0,105,14,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0cd92d",endColorstr="#00690e",GradientType=1);

  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: 400;
}
