img{
    height: 40px;
    width: 40px;
}

.card{
    width: 150px;
    height: 200px;
    background-color: #f0f8ff;
    font-size: 50px;
    display: inline-flex;
    margin: 10px 5px;
    padding: 10px;
}

.card-content{
    width: 100%;
    padding-top: 7px;
    border: 2px solid #0048ff9f;
    p{
        margin: 4% 2%;
    }
    p:nth-child(1){
        margin-top: -10%;
        text-align: end;
    }
    p:nth-child(2){
        text-align: center;
    }
    p:nth-child(3){
        text-align: start;
    }
}

.black{
    color: #000000;
}

.red{
    color: #ff0033;
}